
html(lang='en')
    head
        meta(name="description" content="Episode Info")
        title Kim's Convenience 
        link(rel="stylesheet", href="pugstyle.css")



body
    h1 Kim's Convenience 
     div.show-info
    h2 Developed By
    ul
      for dev in showdata.developedBy
        li= dev 

    h2 Starring
    ul
      for star in showdata.starring
        li= star

    h2 Seasons
    ul
    for  season in showdata.seasons
        li
          a(href=`/season/${season.number}`)= `Season ${season.number}`

 


