doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title TV SYNOPSIS 
    body
    h1 Kim's Convenience 
    h2 Developed By 
    ul 
        li Ins Choi 
        li Kevin Whit 
    h2  Starring 
    ul 
        li Paul Sun-Hyung Lee 
        li Jean Yoon 
        li Andrea Bang 
        li Simu Liu 
        li Andrew Phung 
        li Nicole Power 
    h3 Seasons 
    ol 
        li a(href="") Season 1 
        li a(href="") Season 2
        li a(href="") Season 3
        li a(href="") Season 4


